node_modules/
.expo/
dist/
web-build/
Library/
/Library/
~/Library/
**Library**
.DS_Store
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
.env*.local
*.tsbuildinfo
app-example
/ios
/android
